R: "4.3.3"
scoreInvHap: "1.24.0"
IMPUTE2: "2.3.2"
IMPUTE5: "1.2.0" 
java: "17.0.10"
Beagle: "22Jul22.46e"
gcc: "11.4.0"
bcftools: "1.13"
plink: "1.90b7.2"
tabix: "1.13"
vcftools: "0.1.16"
perl: "5.34.0"
